*{
	padding:0; 
	margin:0; 
	box-sizing: border-box; 
	font-family:sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
header{
	width: 100vw;
	min-height: 100vh;
	background: #34495e;
	font-size: 1.2rem;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	background: white;
	max-width: 800px;
	min-height: 500px;
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	padding: 0.5rem 1.5rem;
}
.left{
	flex-basis: 50%;
}
.right{
	flex-basis: 50%;
}
form{
	padding: 1rem;
}

h3{
	margin-top: 1rem;
	color:#2c3e50;
	}

form input[type="text"]{
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
}

#zip{
	display: flex;
	margin-top: 0.5rem;
}
#zip select{
	padding: 0.5rem 0.7rem;
}
#zip input[type="number"]{
	padding: 0.5rem 0.7rem;
	margin-left: 5px;	
}
input[type="submit"]{
	width: 100%;
	padding: 0.7rem 1.5rem;
	background: #34495e;
	color: white;
	border: none;
	outline: none;
	margin-top: 1rem;
	cursor: pointer;
}

input[type="submit"]:hover{
	background: #2c3e50;
}

.receiptContainer{
	background: white;
	max-width: auto;
	min-width: 35%;
	min-height: auto;
	display: flex;
	flex-basis: 35%;
	justify-content:space-between;
	align-items: flex-start;
	padding: 0.5rem 1.5rem;
	margin: auto;
	border-radius: 25px;
	margin-top: 5rem;
}
.receiptContainer h3{
	font-size: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 3rem;
}
.receiptContainer p{
	display: flex;
    justify-content: baseline;
    font-size: 1.5rem;
    padding: auto;
    min-height: 5rem;
    padding-left: 1rem;
	padding-top: 1.5rem;
}
.receiptContainer .c1,
.receiptContainer .c2 {
    margin-bottom: 1rem;
	border-radius: 25px;
}
.receiptContainer .c1{
	background: #2c3e50;
	color: white;	
}
.btnBack {
    text-align: center;
    position: fixed;
    bottom: 20px;
    width: 100%;
}
.btnBack button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
	font-weight: 500;
}

.btnBack button:hover {
    background-color: #141313;
}

@media only screen and (max-width: 770px){
	.container{
		flex-direction: column;
	}
	body{
		overflow-x: hidden;
	}
}
